[submodule "spring-authorization-server"]
	path = spring-authorization-server
	url = https://github.com/spring-personal-study/spring-authorization-server
	branch = main
[submodule "spring-authorization-client"]
	path = spring-authorization-client
	url = https://github.com/spring-personal-study/spring-authorization-client
	branch = main
[submodule "spring-authorization-resource"]
	path = spring-authorization-resource
	url = https://github.com/spring-personal-study/spring-authorization-resource
	branch = main
